<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
                 http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Coralwatch</display-name>

    <listener>
        <listener-class>org.coralwatch.app.ApplicationContext</listener-class>
    </listener>

    <servlet id="graphServlet">
        <servlet-name>graph</servlet-name>
        <servlet-class>org.coralwatch.portlets.GraphsServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>graph</servlet-name>
        <url-pattern>/graph/*</url-pattern>
    </servlet-mapping>
</web-app>
