#*
This file allows you to override and define new velocity variables.
*#

## set datamodule boolean if found the 'datamodule' param
#set ($datamodule = $request.getParameter('datamodule'))

#if (!$datamodule)

    ## Get the request cookies
    #foreach($cookie in $request.getCookies())
        #if ($cookie.getName() == "datamodule")
            #set ($datamodule = true)
        #end
    #end

#end
