<h3>
    Education Package
</h3>
<p>
    After 18 months of collaborative development between the University of Queensland,
    Brisbane, Australia and local marine educators, the Reef Education Package is now
    available for order. The Package provides a unique opportunity for your group to
</p>
<ol>
    <li>Learn about bleaching in the classroom or field</li>
    <li>Use the Chart in the field to monitor coral bleaching</li>
</ol>
<br>
<h3>The complete package costs AUD$160 (inc. GST) and contains: </h3>
<ul>
    <li>Class set (30) of Coral Health Charts
        <ul>
            <li>The charts can be used to monitor coral reefs by simply matching the colour of corals
                to the chart. For more information see <a href="http://www.coralwatch.org" target="_blank">
                    www.coralwatch.org</a></li>

        </ul>
    </li>
    <li>A Guide to Using the Coral Health Charts (hard copy)
        <ul>
            <li>21-page document outlining how you can use the charts in a ‘classroom’ setting</li>
        </ul>
    </li>
    <li>CD containing
        <ul>

            <li>A Guide to Using the Coral health Charts (Microsoft Word format for editing and
                printing as required)
            </li>
            <li>Reef Fingerprint© and Reef Transect© Microsoft Excel spreadsheets for data analysis
            </li>
            <li>Virtual Reef (Microsoft Powerpoint presentation)</li>
            <li>Virtual Lab (Microsoft Powerpoint presentation)</li>
        </ul>
    </li>
    <li>Virtual Transect poster (140 x 60cm)</li>

    <li>Hard copy of the images in the Virtual Reef and Virtual Lab</li>
    <li>Sample dive/snorkel data slate</li>
</ul>
<br>
<h3>The basic package costs AUD$110 (inc. GST) and contains: </h3>
<ul>
    <li>Class set (30) of Coral Health Charts
        <ul>

            <li>Can be used to monitor coral reefs by simply matching the colour of corals to the
                chart. For more information see www.coralwatch.org
            </li>
        </ul>
    </li>
    <li>CD containing
        <ul>
            <li>A Guide to Using the Coral health Charts (Microsoft Word format for editing and
                printing as required)
            </li>
            <li>Reef Fingerprint© and Reef Transect© spreadsheets for data analysis</li>
            <li>Virtual Reef</li>

            <li>Virtual Lab</li>
        </ul>
    </li>
</ul>
<br>
<p>
    To purchase either package please <a href="../documents/Education%20Package.pdf" target="_blank">download the order
    form</a>. Prices are
    based on cost-recovery. Prices are subject to change. Items can be purchased separately.
    Please contact info@coralwatch.org if you have any queries.
</p>
