#footer_banner {
    text-align: center;
    margin: 30px;
    clear: both;
}

div.main_content {
    margin: 0 0 0 10px;
    padding: 0 1em 4ex 1em;
}

.footer_banner_list li {
    list-style-type: none;
    display: inline;
    margin: auto 10px;
    height: 80px;
    vertical-align: middle;
}

.frontTable {
    margin: 0 auto;
}

.frontTable td {
    padding: 0 9px;
}

.highlight {
    padding: 15px;
    font-size: 10px;
}

.highlight2 {
    background-color: #E0ECFF;
    border: dotted 1px #C3D9FF;
    padding: 10px;
    _height: 30px;
    min-height: 25px;
}

.left {
    float: left;
    margin-right: 15px;
    margin-bottom: 20px;
}

.right {
    float: right;
    margin-left: 15px;
    margin-bottom: 20px;
}

.rightImage {
    float: right;
    margin-left: 15px;
    margin-bottom: 20px;
    display: inline;
    width: 260px;
    font-size: 10px;
}

#heron {
    float: left;
    margin-right: 15px;
    margin-bottom: 20px;
    width: 305px;
    height: 800px;
}
