<#assign newObject=!(userimpl??)/>
<#if newObject>
    <h3>Sign Up</h3>
    <#else>
        <h3>Editing User ${userimpl.username}</h3>
</#if>
<div dojoType="dijit.form.Form" method="post">
    <script type="dojo/method" event="onSubmit">
        if(!this.validate()){
        alert('Form contains invalid data. Please correct first');
        return false;
        }
        return true;
    </script>
    <table>
        <#if newObject>
            <tr>
                <td class="headercell">
                    <label for="username">Username:</label>
                </td>
                <td>
                    <input type="text"
                           id="username"
                           name="username"
                           required="true"
                           dojoType="dijit.form.ValidationTextBox"
                           regExp=".......*"
                           invalidMessage="Please enter a username with at least 6 characters"/>
                </td>
            </tr>
        </#if>
        <tr>
            <td class="headercell">
                <label for="displayName">Display Name:</label>
            </td>
            <td>
                <input type="text"
                       id="displayName"
                       name="displayName"
                       required="true"
                       dojoType="dijit.form.ValidationTextBox"
                       regExp=".......*"
                       invalidMessage="Please enter a display name with at least 6 characters"
                       value="${(userimpl.displayName)!}"/> <em>e.g. John Smith</em>
            </td>
        </tr>
        <tr>
            <td class="headercell">
                <label for="password">New Password${newObject?string('',' (optional)')}:</label>
            </td>
            <td>
                <input type="password"
                       id="password"
                       name="password"
                       required="true"
                       dojoType="dijit.form.ValidationTextBox"
                       validator="var pwLen = this.getValue().length; return ${newObject?string('','(pwLen == 0) || ')}(pwLen >= 6)"
                       invalidMessage="Please enter a password with at least 6 characters"/>
            </td>
        </tr>
        <tr>
            <td class="headercell">
                <label for="password2">Confirm Password:</label>
            </td>
            <td>
                <input type="password"
                       id="password2"
                       name="password2"
                       required="true"
                       dojoType="dijit.form.ValidationTextBox"
                       validator="return this.getValue() == dijit.byId('password').getValue()"
                       invalidMessage="Please enter the same password twice"/>
            </td>
        </tr>
        <tr>
            <td class="headercell">
                <label for="email">Email:</label>
            </td>
            <td>
                <input type="text"
                       id="email"
                       name="email"
                       dojoType="dijit.form.ValidationTextBox"
                       required="true"
                       regExp="[0-9a-zA-Z][-._a-zA-Z0-9]*@([0-9a-zA-Z][-._0-9a-zA-Z]*\.)+[a-zA-Z]{2,6}"
                       trim="true"
                       invalidMessage="Enter a valid email address."
                        value="${(userimpl.email)!}"/> <em>e.g. address@organisation.com</em>
            </td>
        </tr>
        <tr>
            <td class="headercell">
                <label for="email2">Confirm Email:</label>
            </td>
            <td>
                <input type="text"
                       id="email2"
                       name="email2"
                       dojoType="dijit.form.ValidationTextBox"
                       required="true"
                       validator="return this.getValue() == dijit.byId('email').getValue()"
                       trim="true"
                       invalidMessage="Re-enter your email address."/>
            </td>
        </tr>
    </table>
    <button dojoType="dijit.form.Button" type="submit" name="submit">${newObject?string("Create","Update")}</button>
    <#assign plainUrl=currentUrl?substring(0,currentUrl?last_index_of("?")) />
    <button dojoType="dijit.form.Button"
            onClick="window.location='${plainUrl}'">Cancel
    </button>
</div>