<#include "macros/basic.html"/>

<h3>Profile for: ${user.username!}</h3>
<table>
    <tr>
        <th>Display Name:</th>
        <td>${user.displayName!}</td>
    </tr>
    <tr>
        <th>Email:</th>
        <td><a href="mailto:${user.email!}">${user.email!}</a></td>
    </tr>
    <tr>
        <th>Registered since:</th>
        <td>${(user.registrationDate)!?datetime}</td>
    </tr>
</table>

<#if canUpdate>
<button dojoType="dijit.form.Button"
        onClick="window.location='${baseUrl}/users/${user.id}?edit'">Edit</button>
</#if>