.tundra .dijitComboBox .dijitButtonNode {
    height: 18px;
}
.tundra .dijitComboBox {
    height:20px;
}
.coralwatch_list_table {
    border: 1px solid #999999;
    border-collapse: collapse;
}

.coralwatch_list_table th {
    border: 1px solid #999999;
    background-color: #cccccc;
}

.coralwatch_list_table td {
    border: 1px solid #999999;
    padding:0.2em;
}

.coralwatch_list_table tr {
    border: 1px solid #999999;
}